* {
  box-sizing: border-box;
}
body {
  margin: 0;
}
#app {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 100vw;
  height: 100vh;
  container: size;
}
#app a {
  display: inline-block;
  width: 100%;
}
#app figure {
  width: 100%;
  display: inline-grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
  border: 1em solid #fff;
  margin-inline: 0;
  margin-block: 0;
}
#app figure img {
  width: 100%;
  object-fit: contain;
}
#app a:focus figure {
  border-color: black;
  background-color: yellow;
}
#app figcaption {
  text-align: center;
  width: 0;
  min-width: 100%;
}
#message {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  transition: background-color 0.5s linear;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#message[hide] {
  background-color: rgba(0, 0, 0, 0);
}
#message[hide] button {
  display: none;
}
#message button[selected] {
  border-color: #000;
}
#message button {
  font-size: 2em;
  border: 0.3em solid #ff0;
  outline: 0.3em solid #ff0;
  background-color: #ff0;
  padding: 0.2em;
  border-radius: 0.5em;
  margin: 1.5em;
  min-width: 10em;
}
#message button:hover {
  border-color: #444;
  box-shadow: 0 0 2em #00f;
}
